.support-form-error {
  color: var(--errorColor);
  font-size: 14px;
}

.support-form-success {
  color: var(--successColor);
  font-size: 14px;
}

.support-form-detail {
  color: var(--secondaryTextColor);
  font-size: 14px;
}
