@import 'cozy-ui'

.account-view
    padding-left    2em
    max-width       32em
    @extend         $form
    @extend         $form-text
    @extend         $form-button
    @extend         $form-progress

    h3
        margin-bottom   0em

    .visibility
        text-transform  uppercase
        position        absolute
        cursor          pointer
        right           0

    progress
        &.pw-weak
            color   red
            &::-webkit-progress-value
                background    red
            &::-moz-progress-bar
                background    red
        &.pw-moderate
            color   orange
            &::-webkit-progress-value
                background    orange
            &::-moz-progress-bar
                background    orange
        &.pw-strong
            color   green
            &::-webkit-progress-value
                background    green
            &::-moz-progress-bar
                background    green
