@import 'cozy-ui'

.account-view
    padding-left    2em
    padding-right   1em
    max-width       32em

    h3
        margin-bottom   0em

.account-view-loading
    @extend     $icon-spinner-blue
    @extend     $icon-16
    margin-left 0.5em
