@require 'cozy-ui'

.o-layout--2panes
    @extend $app-2panes-sticky

.app-content
    @media (max-width: (768/basefont)rem)
        padding-top 10px

    [role=contentinfo]
        padding 14px 0 30px

    a:not([role=button])
    a:visited:not([role=button])
        color dodgerBlue
        text-decoration none
