@require 'cozy-ui'

.set-delete-account-form-controls
    text-align right

.coz-textarea-wrapper
    margin-top .5em

    textarea
        min-height 12em
        width 100%
        border-color silver
        font-size 14px
        resize none
        overflow auto

        &[readonly=true]
            color silver
            cursor not-allowed;
