@import 'cozy-ui'

.devices-view
    h2
        horizontally-padded 2em

    .coz-btn--revoke
        vertically-padded   .2em
        horizontally-padded 0
        background transparent
        color dodger-blue

@media (max-width: (768/basefont)rem)
    .devices-view h2
        horizontally-padded .8em
