@require 'cozy-ui'

.devices-view
    h2
        padding 0 2rem

    .coz-btn--revoke
        padding .2em 0
        background transparent
        border none
        color var(--dodgerBlue)
        cursor pointer
        margin-left 0
        font-weight bold
        font-size 1em
        text-transform uppercase

+small-screen()
    .devices-view h2
        padding 0 .8rem
