@require 'cozy-ui'

.coz-modal-content
  padding 0 1.5em

.coz-modal-revoke-content
  .icon-arrows
    padding-left 1.3em
    background embedurl('../assets/icons/icon-circle-2-arrows-16.svg') center left no-repeat
