@import 'cozy-ui'

.devices-view

    h2
        horizontally-padded 2em

    .coz-btn--revoke
        color dodger-blue
        background transparent
        vertically-padded   .2em
        horizontally-padded 0
