@require 'cozy-ui'

[role=application]
    progress
        &.pw-weak
            color   var(--errorColor)
            &::-webkit-progress-value
                background    var(--errorColor)
            &::-moz-progress-bar
                background    var(--errorColor)
        &.pw-moderate
            color   var(--warningColor)
            &::-webkit-progress-value
                background    var(--warningColor)
            &::-moz-progress-bar
                background    var(--warningColor)
        &.pw-strong
            color   var(--successColor)
            &::-webkit-progress-value
                background    var(--successColor)
            &::-moz-progress-bar
                background    var(--successColor)
