@require 'cozy-ui'

[role=application]
    progress
        &.pw-weak
            color   var(--pomegranate)
            &::-webkit-progress-value
                background    var(--pomegranate)
            &::-moz-progress-bar
                background    var(--pomegranate)
        &.pw-moderate
            color   var(--texasRose)
            &::-webkit-progress-value
                background    var(--texasRose)
            &::-moz-progress-bar
                background    var(--texasRose)
        &.pw-strong
            color   var(--emerald)
            &::-webkit-progress-value
                background    var(--emerald)
            &::-moz-progress-bar
                background    var(--emerald)
