@require 'cozy-ui'

:root
    --sidebarHeight 0rem

:local
    .set-markdown-link
        color var(--primaryColor)
        text-decoration none

.Layout--small-view
    &::after
        content none
