@require 'cozy-ui'
@require './spinner.styl'

.set-loading
  text-align center
  &:before
    content     ''
    margin      rem(80px) auto 0
    width       rem(80px)
    height      rem(80px)
    @extend $icon-spinner-blue

  p
    margin-top  rem(15px)
    color       grey-11
    line-height 1.5
