@require 'cozy-ui'

[role=application]
    @extend $navigation

.set-cat-profile
    background: embedurl('../assets/icons/icon-people.svg') em(24px) center no-repeat
    &.active
        background-image: embedurl('../assets/icons/icon-people-active.svg')
.set-cat-services
    background: embedurl('../assets/icons/icon-team.svg') em(24px) center no-repeat
    &.active
        background-image: embedurl('../assets/icons/icon-team-active.svg')
.set-cat-devices
    background: embedurl('../assets/icons/icon-phone.svg') em(24px) center no-repeat
    &.active
        background-image: embedurl('../assets/icons/icon-phone-active.svg')
.set-cat-storage
.set-cat-sessions
    background: embedurl('../assets/icons/icon-box.svg') em(24px) center no-repeat
    &.active
        background-image: embedurl('../assets/icons/icon-box-active.svg')
.set-cat-notif
    background: embedurl('../assets/icons/icon-email-notif.svg') em(24px) center no-repeat
    &.active
        background-image: embedurl('../assets/icons/icon-email-notif-active.svg')


@media (max-width: (1023/basefont)rem)
    .set-cat-profile
    .set-cat-services
    .set-cat-devices
    .set-cat-storage
    .set-cat-sessions
    .set-cat-notif
        background-position center top
