.coz-passphrase-advices
    padding-left 0
    list-style none

    li
        position relative
        line-height 1.5
        padding-left 1.5rem

        &::before
            content ''
            position absolute
            top 1.5 * 8px
            left 0
            width 0.5rem
            height 0.5rem
            background-color var(--slateGrey)
            border-radius 50%
            transform: translateY(-50%)

    p
        display inline-block
        margin 0
