@import 'cozy-ui'

.profile-view
    padding-left    2em
    padding-right   2em
    max-width       32em

    h3
        margin-bottom   0em

.profile-view-loading
    @extend     $icon-spinner-blue
    @extend     $icon-16
    margin-left 0.5em
