@import 'cozy-ui/defaults'
@import 'cozy-ui'

:root {
  --charcoal-grey: charcoal-grey;
  --silver: silver;
  --pale-grey: pale-grey;
  --cool-grey: cool-grey;
  --slate-grey: slate-grey;
  --dodger-blue: dodger-blue;
  --pomegranate: pomegranate;
  --emerald: emerald;
  --malachite: malachite;
}

.set-services {
    width   100%
    @extend $form
    @extend $form-text
    @extend $form-textarea
}

@import './services/claudy.css'
@import './services/claudySupport.css'
@import './services/support.css'

.coz-bar-hidden
  @extend $hidden

.coz-btn-regular
  @extend $button
  @extend $button--regular

.coz-btn-close
  @extend $button
  @extend $button--close

.coz-btn-send
  @extend $button
  @extend $button--send
