@require 'cozy-ui'

:root {
  --charcoal-grey: charcoalGrey;
  --silver: silver;
  --pale-grey: paleGrey;
  --cool-grey: coolGrey;
  --slate-grey: slateGrey;
  --dodger-blue: dodgerBlue;
  --pomegranate: pomegranate;
  --emerald: emerald;
  --malachite: malachite;
}

.set-services {
    width   100%
    @extend $form
    @extend $form-text
    @extend $form-textarea
}

@import './services/claudy.css'
@import './services/claudySupport.css'
@import './services/support.css'

.coz-bar-hidden
  hide()

.coz-btn-regular
  @extend $button
  @extend $button--regular

.coz-btn-close
  @extend $button
  @extend $button--close

.coz-btn-send
  @extend $button
  @extend $button--send
