progress.set-storage-bar[value]
  /* Reset the default appearance */
  appearance none
  background-color var(--primaryBackground)
  border solid 1px var(--borderColor)
  border-radius: 2px
  color var(--primaryColor)
  height 1.5rem
  margin 0 0 1rem 0
  width 100%


progress.set-storage-bar[value]::-webkit-progress-bar
  background var(--primaryColor)
  border-radius 2px


progress.set-storage-bar[value]::-webkit-progress-value
  background var(--primaryColor)
  border-radius 1px


progress.set-storage-bar[value]::-moz-progress-bar
  background var(--primaryColor)
  border-radius 1px


.set-bar-percent
    position absolute
    left 2.5rem
    padding-top .2rem
    color var(--primaryTextColor)
    &.--dark
        color var(--primaryContrastTextColor)
