@require 'cozy-ui'

$set-device
    content         ''
    display         inline-block
    width           em(30px)
    height          em(30px)
    vertical-align  middle

.set-loading
    @extend $icon-spinner-blue
    @extend $icon-16
    margin-left 0.5em

.coz-table
    @extend $table

    .coz-table-cell
        @extend $table-cell

    .coz-table-body
        @extend $table-body

    .coz-table-header
        @extend $table-header

    .coz-table-row
        @extend $table-row

    .set-table-name
        flex 0 0 40%

    .set-table-os
    .set-table-browser
        flex 0 0 30%

    .set-table-activity
    .set-table-permission
    .set-table-actions
    .set-table-ip
        flex 0 0 15%

    .set-table-date
        flex 0 0 15%

    .set-table-devices
        // quick fix for cozy-ui table layout issue
        height auto!important //@stylint ignore
        .coz-table-primary
            padding-left em(80px)

    .set-table-sessions
        // quick fix for cozy-ui table layout issue
        height auto!important //@stylint ignore

    .coz-table-primary
        font-size  1rem

    .set-device-laptop
        background embedurl('../assets/icons/icon-device-laptop.svg') em(32px) center no-repeat

    .set-device-phone
        background embedurl('../assets/icons/icon-device-phone.svg') em(32px) center no-repeat

    @media (max-width: (768/basefont)rem)
        .set-table-name
            flex  0 0 60%

        .set-table-date
            flex 0 0 15%

        .set-table-actions
            flex  0 0 25%

        .set-table-activity
        .set-table-permission
            display none
