@require 'cozy-ui'

.set-view-content
    padding-left   2rem
    padding-right  2rem

    .set-view-title
        padding  0

    .set-view-subtitle
        margin-bottom  0em

.set-view-content--narrow
    max-width  32em

.set-view-loading
    @extend     $icon-spinner-blue
    @extend     $icon-16
    margin-left 0.5em

.set-view-title
    padding  0 2rem

    @media (max-width: (768/basefont)rem)
        .devices-view h2
            padding  0 .8em

.coz-btn--revoke
    vertically-padded    .2em
    horizontally-padded  0
    background           transparent
    color                dodgerBlue
