.coz-service-claudy {
  width: 100%;
  padding-top: 3.5em; /* header size and padding*/
}

.coz-claudy-menu-header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1.5em);
  height: 2em;
  padding: .75em;
  background: var(--pale-grey);
  border-radius: .3em .3em 0 0;
  border-bottom: 1px solid var(--silver);
  overflow: hidden;
  z-index: 1;
}

.coz-claudy-menu-title {
  opacity: 1;
  transition: .2s all ease-in-out;
}

.coz-claudy-menu-header-back-button {
  position: absolute;
  width: 2em;
  height: 2em;
  background: url('../assets/services/icon-arrow-left.svg') center / 1.5em no-repeat;
  border: none;
  cursor: pointer;
  left: 10em;
  opacity: 0;
  transition: .2s all ease-in-out;
}

.coz-claudy-menu--action-selected .coz-claudy-menu-title {
  transform: translateX(-50%);
  opacity: 0;
  transition: .2s all ease-in-out;
}

.coz-claudy-menu--action-selected .coz-claudy-menu-header-back-button {
  opacity: 1;
  left: 1em;
  transition: .2s all ease-in-out;
}

.coz-claudy-menu-title {
  font-size: 18px;
  margin: 0;
}

.coz-claudy-menu-content-wrapper {
  overflow: hidden;
}

.coz-claudy-menu-content {
  display: flex;
  flex-direction: row;
  width: 200%; /* actions-list + action-description */
  padding: .5em 0;
  transform: translateX(0);
  transition: .2s transform ease-in-out;
}

.coz-claudy-menu--action-selected .coz-claudy-menu-content {
  transform: translateX(-50%);
  transition: .2s transform ease-in-out;
}

.coz-claudy-menu-actions-list,
.coz-claudy-menu-action-description {
  min-width: 50%;
  max-width: 50%;
  padding: 0;
}

.coz-claudy-menu-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  height: 3em;
  color: var(--dodger-blue);
  padding: .5em 1em;
}

.coz-claudy-menu-action:hover {
  background: var(--pale-grey)
}

.coz-claudy-menu-action[data-complete=true] {
  color: var(--emerald);
}

/* Only for text-decoration property, since it cannot be overwritten
by child elements */
.coz-claudy-menu-action[data-complete=true] p {
  text-decoration: line-through;
}

.coz-claudy-menu-action[data-complete=true]:hover,
.coz-claudy-menu-action[data-complete=true]:active {
  text-decoration: none;
}

.coz-claudy-menu-action[data-complete=true]:hover p,
.coz-claudy-menu-action[data-complete=true]:active p {
  text-decoration: underline;
}

.coz-claudy-menu-action-icon {
  height: 3em;
  width: 3em;
}

.coz-claudy-menu-action-check {
  height: 1.5em;
  width: 1.5em;
}

.coz-claudy-menu-action-count-wrapper {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  align-self: flex-end;
  flex-grow: 1;
}

.coz-claudy-menu-action-count {
  display: block;
  height: 1.5em;
  width: 1.5em;
  margin-top: calc(50% - 1.5em / 2);
  border-radius: 100%;
  background: var(--malachite);
  text-align: center;
  line-height: 1.5em;
  color: white;
  font-weight: 700;
}

.coz-claudy-menu-action-title {
  padding: 0 1em;
}

.coz-claudy-menu-action-description-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5em 1em;
  color: black;
  font-weight: 700;
}

.coz-claudy-menu-action-description-header .coz-claudy-menu-action-title{
  margin: 0;
}

.coz-claudy-menu-action-description-content {
  padding: .5em 1em 1em 1em;
}

.coz-claudy-menu-action-description-text {
  margin-top: 0;
}

.coz-claudy-menu-action-description-detail {
  color: var(--cool-grey);
  font-size: 14px;
}

.coz-claudy-menu-action-description-error {
  color: var(--pomegranate);
  font-size: 14px;
}

.coz-claudy-menu-action-description-success {
  margin: 0;
  padding: 1em;
  background-color: var(--malachite);
  color: white;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[role=button].coz-claudy-menu-action-description-button,
[role=button].coz-claudy-menu-action-description-button:visited,
[role=button].coz-claudy-menu-action-description-button:active,
[role=button].coz-claudy-menu-action-description-button:hover {
  color: white;
  width: 100%;
  margin: 0;
}
