.coz-claudy-menu-action--support [role=button] {
  align-self: flex-end;
}

.coz-claudy-menu-action--support .coz-claudy-menu-action-description-text {
  margin-top: .5em;
  margin-bottom: 0;
}

.set-services .coz-claudy-menu-action--support .coz-form {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.set-services .coz-claudy-menu-action--support .coz-form-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.set-services .coz-claudy-menu-action--support .coz-form-label .set-services-claudy-textarea {
  margin-top: .5em;
  font-size: 14px;
}

.set-services .coz-claudy-menu-action--support .coz-form-label:first-child {
  margin-top: 0;
}

.set-services-claudy-textarea {
  resize: none;
  overflow: auto;
  min-height: 10em;
}

.set-services .coz-claudy-menu-action--support [role=button] {
  margin-top: 1em;
}
