@require 'cozy-ui'

:root {
  --charcoal-grey: charcoalGrey;
  --silver: silver;
  --pale-grey: paleGrey;
  --cool-grey: coolGrey;
  --slate-grey: slateGrey;
  --dodger-blue: dodgerBlue;
  --pomegranate: pomegranate;
  --emerald: emerald;
  --malachite: malachite;
}

.set-services {
    width   100%
    @extend $form
    @extend $form-text
    @extend $form-textarea
}

@import './claudy.css'
@import './claudySupport.css'
@import './support.css'

.coz-bar-hidden
  hide()

.coz-btn-regular
  @extend $button

.coz-btn-close
    box-sizing       border-box
    display          inline-flex
    align-items      center
    justify-content  center
    border           1px solid transparent
    border-radius    2px
    min-height       2.5rem
    padding          .5rem
    background       transparent
    vertical-align   top
    text-align       center
    color            white
    font-size        .875rem
    line-height      1
    text-transform   uppercase
    text-decoration  none
    cursor           pointer
